.abtus-wrapper {
  padding: 5rem 8rem;
  background: var(--color-bg-scndry);
}

.abtus-wrapper > h2 {
  font-size: 2.1875rem; /* 35px converted to rem */
}

.abtus-content-wrapper {
  display: flex;
  gap: 5rem; /* 80px converted to rem */
}

.abtus-details-wrapper {
  flex-direction: column;
  display: flex;
  gap: 4.375rem; /* 70px converted to rem */
  flex: 0 0 60%;
}

.abtus-details-title > h4 {
  font-weight: 300;
  padding-top: 1.875rem; /* 30px converted to rem */
  font-size: 1.25rem; /* 20px converted to rem */
  max-width: 80%;
}

.abtus-img-wrapper {
  height: 65.4rem;
  position: relative;
}

.abtus-img-wrapper > figure > img {
  width: 100%;
  object-fit: cover;
}

.abtus-img-wrapper figure, .abtus-img-wrapper img {
  height: 100%;
}

.abtus-card-wrapper {
  display: flex;
  gap: 1.25rem; /* 20px converted to rem */
  flex-wrap: wrap;
}

.abtus-card {
  max-width: 48%;
  background: linear-gradient(180deg, #EC268F 0%, #D28BAD 100%);
  border-radius: 1.25rem; /* 20px converted to rem */
  padding: 2.5rem; /* 40px converted to rem */
  color: white;
  flex-direction: column;
  display: flex;
  gap: 0.625rem; /* 10px converted to rem */
}

.abtus-card > h4 {
  font-size: 1.3125rem; /* 21px converted to rem */
}

.abtus-card > p {
  font-size: 1.1875rem; /* 19px converted to rem */
  font-weight: 300;
}

.img-bkgrnd-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--secondary);
  top: 2.5rem; /* 40px converted to rem */
  z-index: -1;
  left: 2.5rem; /* 40px converted to rem */
  border-radius: 0 2.1875rem 0 2.1875rem; /* 35px converted to rem */
}

.members-wrapper {
  margin-top: 11rem;
  display: flex;
  justify-content: space-between;
}

.member-card {
  flex: 0 0 30%;
}

.member-card-img-wrapper {
  height: 32rem;
}

.member-card-img-wrapper > figure, .member-card-img-wrapper > figure > img {
  width: 100%;
  height: 100%;
}

.member-card-img-wrapper > figure > img {
  object-fit: cover;
  border-radius: 0.9375rem 0.9375rem 0 0; /* 15px converted to rem */
}

.member-dtls {
  background-color: #000000;
  color: white;
  padding: 0.9375rem; /* 15px converted to rem */
  border-radius: 0 0 0.9375rem 0.9375rem; /* 15px converted to rem */
}

.member-dtls > h5 {
  color: var(--primary);
  font-size: 1.25rem; /* 20px converted to rem */
}

.member-dtls > p {
  font-size: 1.0625rem; /* 17px converted to rem */
}

@media (max-width: 599px) {
  .abtus-wrapper{
    padding: 2rem;
  }

  .abtus-content-wrapper{
    flex-direction: column;
  }

  .abtus-wrapper > h2{
    text-align: center;
  }

  .abtus-details-title > h4{
    max-width: 100%;
  }

  .abtus-card{
    max-width: 100%;
  }

  .abtus-img-wrapper {
    height: 43rem;
}

  .img-bkgrnd-container {
    top: 1.5rem;
    left: 1.2rem;
    border-radius: 0 1.1875rem 0 1.1875rem;
  }

  .members-wrapper{
    margin-top: 7rem;
    flex-direction: column;
    gap: 20px;
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .abtus-wrapper{
    padding: 4rem;
  }

  .abtus-content-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .abtus-wrapper > h2{
    text-align: center;
  }

  .abtus-details-title > h4{
    max-width: 100%;
  }

  .abtus-card{
    max-width: 100%;
    flex: 1 1 100%;
  }

  .abtus-img-wrapper {
    height: 70rem;
    width: 60%;
  }

  .img-bkgrnd-container {
    top: 1.5rem;
    left: 1.2rem;
    border-radius: 0 1.1875rem 0 1.1875rem;
  }

  .members-wrapper{
    margin-top: 7rem;
    flex-direction: column;
    gap: 40px;
  }

  .member-card-img-wrapper {
    height: 35rem;
    width: 70%;
    margin: 0 auto;
  }

  .member-dtls{
    width: 70%;
    margin: 0 auto;
  }

  .member-card-img-wrapper > figure > img {
    object-fit: fill;
  }
}