.footer-wrapper{
  background: black;
  color: white;
  padding-top: 80px;
}

.footer-container{
  display: flex;
  justify-content: space-between;
}

.footer-logo-wrapper{
  flex: 0 0 25%;
  flex-direction: column;
  display: flex;
  gap: 15px;
}

.footer-contact-wrapper{
  display: flex;
  flex: 0 0 67%;
  justify-content: space-around;
}

.information-wrapper {
  flex-direction: column;
  display: flex;
  gap: 50px;
}

.information-wrapper > h5{
  font-size: 16px;
  font-style: italic;
}

.info-items{
  flex-direction: column;
  display: flex;
  gap: 20px;
}

.gap{
  gap: 42px;
}

.footer-wrapper > hr {
  margin: 100px 0 50px;
}

.footer-wrapper > p{
  text-align: center;
}

@media (max-width: 700px) {
  .footer-container{
    flex-direction: column;
    gap: 20px;
  }

  .footer-contact-wrapper{
    justify-content: space-between;
  }

  .information-wrapper{
    flex-wrap: wrap;
    gap: 25px;
  }

  .information-wrapper > h5{
    text-align: center;
  }

  .info-items{
    word-wrap: break-word;
  }

  .footer-wrapper{
    padding-top: 40px;
  }

  .footer-logo-wrapper{
    justify-content: center;
    align-items: center;
  }

  .footer-logo-wrapper > p{
    text-align: center;
  }

  .footer-wrapper > hr {
    margin: 50px 0 25px;
  }
}