.goal-wrapper{
  display: flex;
  gap: 60px;
  padding-top: 6rem;
  margin-bottom: 6rem;
}

.goal-img-wrapper{
  flex: 0 0 50%;
  position: relative;
  height: 51rem;
}

.goal-img-wrapper > figure{
  width: 90%;
  height: 100%;
}

.goal-img-wrapper > figure > img{
  width: 100%;
  height: 100%;
}

.goal-content-wrapper{
  flex-direction: column;
  display: flex;
  gap: 70px;
}

.mission-wrapper{
  flex-direction: column;
  display: flex;
  gap: 15px;
}

.mission-wrapper > p{
  font-size: 20px;
  font-weight: 300;
}

.mission-wrapper > h2{
  font-size: 38px;
  font-weight: 500;
}

.mission-img-bkgd-container{
  width: 90%;
  height: 100%;
  position: absolute;
  background-color: var(--secondary);
  top: 40px;
  z-index: -1;
  left: 40px;
  border-radius: 0 35px 0 35px;
}