.header-wrapper{
  background-image: url('/Banner image.png');
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  height: 53rem;
}

.header-cnt-wrapper{
  display: flex;
  justify-content: space-between;
}

.header-menu-wrapper{
  display: flex;
  gap: 4.06rem; /* 65px converted to rem */
  align-items: center;
}

.header-donate-btn{
  display: flex;
  align-items: center;
}

.header-details-wrapper{
  flex-direction: column;
  display: flex;
  gap: 2.81rem; /* 45px converted to rem */
  display: inline-flex;
  max-width: 47%;
  padding: 6rem 8rem;
}

.header-details-wrapper > h1{
  font-size: 3.12rem; /* 50px converted to rem */
  font-style: italic;
  text-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25); /* 0px 4px 4px converted to rem */
}

.header-details-wrapper > h5{
  font-weight: 300;
  font-size: 1.25rem; /* 20px converted to rem */
  font-style: italic;
}

@media (min-width: 900px) and (max-width: 1600px) {
  .header-details-wrapper{
    max-width: 55%;
  }
}

@media (max-width: 599px) {
  .header-wrapper{
    height: 47rem;
    background-position: right;
  }

  .header-menu-wrapper, .header-donate-btn{
    display: none;
  }

  .header-details-wrapper {
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    max-width: 100%;
  }

  .header-details-wrapper > h1{
    text-align: center;
  }

  .header-details-wrapper > h5{
    text-align: center;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .header-menu-wrapper, .header-donate-btn{
    display: none;
  }

  .header-wrapper{
    height: 47rem;
    background-position: right;
  }

  .header-details-wrapper {
    max-width: 100%;
    padding: 2rem 4rem;
    justify-content: center;
    align-items: center;
  }

  .header-details-wrapper > h1{
    text-align: center;
  }

  .header-details-wrapper > h5{
    text-align: center;
  }

  .burger{
    display: block;
  }
}
