/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap'); */
:root {
  --font-family: 'Poppins', sans-serif;
  --color-bg: #FFFFFF;
  --color-bg-scndry: #8080801a;
  --color-text: #333333;
  --primary: #EC268F;
  --secondary: #E374AC;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body{
  background: var(--color-bg);
  font-family: var(--font-family);
  overflow: auto;
}

button {
  border: none;
  background: var(--primary);
  border-radius: 10px;
  padding: 10px 24px;
  color: white;
  font-size: 1.12rem;
}

h1,h2{
  font-style: italic;
}

.content-padding{
  padding: 2rem 8rem;
}

@media (min-width: 2000px) {
  /* For ultra-large screens */
  html {
    font-size: 20px; /* Increase further for very large screens */
  }
}

/* For smaller screens */
@media (max-width: 768px) {
  html {
    font-size: 14px; /* Reduce the root font size */
  }
}

/* For very small screens */
@media (max-width: 480px) {
  html {
    font-size: 12px; /* Further reduce the root font size */
  }
}